* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(170, 176, 179);
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 620px;
  width: 450px;
  background-color: transparent;
  border-radius: 8px;
}

.users {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0 0 8px 8px;
}

.user {
  display: flex;
  align-items: center;
  max-height: 55px;
  flex-grow: 1;
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid rgba(223, 223, 223, 0.712);
  

  &__number{
    width: 5%;
    display: grid;
    font-size: 14px;
    place-items: center;
  }
  &__name-firstletter{
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    font-size: 20px;
    background-color: rgb(245, 239, 240);
    border-radius: 50%;
  }
  &__np{
    width: 50%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__pageviews {
    width: 30%;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: right;
    font-weight: 700;
    opacity: 0.5;
  }
  &__pub {
      font-weight: 700;
      margin-right: 10px;
  }
  &__medal {
    display: grid;
    place-items: center;
    width: 5%;
  }
  &__medal-icon {
      height: 35px;
  }
}
.user:nth-of-type(even){
  background-color: #eaecf0;
}
.user:nth-child(10){
  border-radius: 0 0 8px 8px;
}

.filter{
  display: flex;
  align-items: center;
  background-color: rgb(221, 221, 221);
  border-radius: 8px 8px 0 0;
  padding-left: 10px;

  &__input{
    flex: 1;
    height: 45px;
    border: none;
    padding-left: 10px;
    border-radius: 8px 8px 0 0;
    outline: none;
    background-color: transparent;
  }
}
.filter > i {
  position: relative;
  font-size: 20px;
  opacity: 0.5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__page{
    width: 60px;
    text-align: center;
  }
}

.btn {
  display: grid;
  place-items: center;
  height: 32px;
  color: #fff;
  width: 30px;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: green;
}
