* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  place-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 620px;
  width: 450px;
  background-color: rgb(191, 207, 191);
}

.users {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user {
  margin: 10px 0;
  display: flex;
  &__number{
    width: 5%;
  }
  &__name-firstletter{
    width: 10%;
  }
  &__np{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__pageviews {
    width: 30%;
    text-align: right;
      font-weight: 700;
      opacity: 0.5;
  }
  &__pub {
      font-weight: 700;
      margin-right: 10px;
  }
  &__medal {
    width: 5%;
  }
  &__medal-icon {
      height: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 32px;
  color: #fff;
  border-radius: 8px;
  width: 64px;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
  background-color: green;
}
